
.profile {
    background: #202020;
}

.profile__content {
    padding: 148px 0 0;
    align-items: center;
}

.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding-bottom: 110px;
}

.profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
}

.profile__input {
    background: transparent;
    width: 100%;
    border: none;
    color: #fff;
    text-align: end;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    padding: 16px 0;
}

.profile__input:focus {
    outline: none;
}

.profile__label {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    position: absolute;
    left: 0;
    top: 16px

}

.profile__form-block {
    display: flex;
    position: relative;
    width: 100%;

}


.profile__input_name {

    border-bottom: 1px solid #424242;
}

.profile__input_email {

}

.profile__button {
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
    background: transparent;
    border: none;
}

.profile__button_submit {
    margin: 200px 0 16px;
    font-weight: normal;
    color: #fff;
}

.profile__button_logout {
    font-weight: 500;
    color: #EE3465;
}

@media screen and (max-width: 1280px) {
    .profile {

    }

    .profile__content {
        padding: 310px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .profile {

    }

    .profile__content {
        padding: 148px 0 0;
    }

    .profile__form {
        width: 260px;
    }

    .profile__title {
        padding-bottom: 80px;
    }

    .profile__button_submit {
        margin: 380px 0 16px;
    }
}

