@media screen and (min-width: 320px) {
    .portfolio {
        background: #202020;
    }
    .portfolio__content {
        padding: 0 70px 125px;
    }
    .portfolio-title {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: #8B8B8B;
        mix-blend-mode: normal;
        margin: 0;
        padding-bottom: 50px;
    }
    .portfolio-link {
        display: flex;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 50px;
        letter-spacing: -0.04em;
        padding: 20px 0;
        border-bottom: 1px solid #424242;
        cursor: pointer;
        background: url('../../images/arrow-link.svg') no-repeat;
        background-position: right 0 top 50%;
    }
    .portfolio-link:last-child {
        border: none;
    }
}

@media screen and (min-width: 768px) {
    .portfolio {

    }
}

@media screen and (min-width: 1280px) {
    .portfolio {

    }
}