.header {
    display: flex;
        width: 100%;

        position: fixed;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 18px 70px;
        max-width: 1280px;
        box-sizing: border-box;
        backdrop-filter: blur(5px);
    }

    .header__list {
        padding: 0;
        margin: 0;
        gap: 30px;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
.header__item_main {
    display: none;
}

    .header__logo-link {
        margin-right: 140px;
    }
    .header__item {
        text-decoration: none;
    }

    .header__link {

    }
    .header__link_account {
        display: flex;
        align-items: center;
        gap: 7px;
        width: 170px;
        justify-content: flex-end;
    }
    .header__account-logo {
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        border-radius: 50%;
        background:  #313131;
        object-fit: contain;
    }

    .header__link_active {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
    }

    .header__link_secondary {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
    }

    .header__link_primary {
        color: #000;
        background: #3DDC84;
        border-radius: 3px;
        padding: 8px 20px;
    }

    .header__burger {
        display: none;
    }
    .header__burger:checked + label div:first-child {
        top: 10px;
        transform: rotateZ(45deg);
    }
    .header__burger:checked + label div:last-child {
        top: -8px;
        right: 0;
        transform: rotateZ(45deg);
    }
    .header__burger:checked + label div:nth-child(2) {
        width: 26px;
        top: 1px;
        right: 0;
        transform: rotateZ(-45deg);
    }


    .header__burger-label {
        display: none;
        width: 26px;
        height: 26px;
        margin:  0;
        cursor: pointer;
    }
    .header__burger-label:before {
        content: "";
    }
    .header__burger-label div {
        position: relative;
        top: 1px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 6px;
        transition: 0.3s ease-in-out all;
        border-radius: 1px;
    }

@media screen and (max-width: 1280px) {
    .header {
        padding: 18px 30px;
    }
    .header_opened {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        align-items: flex-start;
        backdrop-filter: blur(2px) brightness(.8);
    }
    .header_opened .header__item_main {
        display: initial;
    }
    .header_opened .header__logo-link {
        filter: blur(2px) brightness(.8);
        pointer-events: none;
    }
    .header__list_visible {
        display: flex;

    }
    .header__list_hidden {
        display: none;
    }
    .header__list_logged-in .header__item:last-child {
       margin-top: auto;
    }
    .header__list_logged-in {
        position: fixed;
        padding: 160px 0 90px;
        top: 0;
        bottom: 0;
        right: 0;
        background: #202020;
        width: 520px;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        box-sizing: border-box;
    }
    .header__list_logged-out {

    }

    .header__burger-label {
        display: block;
    }
    .header__link_active {
        padding-bottom: 4px;
        border-bottom: 2px solid #fff;
    }
    .header__link_account {
        width: fit-content;

    }
    .header__logo-link {
        margin-right: 0;
    }
    .header__link_active {

        padding-bottom: 4px;
        border-bottom: 2px solid #fff;
    }

    .header__link_secondary {


    }
    .header__link {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 18px 14px;
    }
    .header__list {
        font-size: 10px;
        line-height: 16px;
    }
    .header__link_primary {
        padding: 5px 12px;
    }
    .header__list_logged-in {
        padding: 160px 0 90px;
        top: 0;
        bottom: 0;
        right: 0;
        background: #202020;
        left: 0;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        gap: 24px;
        box-sizing: border-box;
    }
}
